
*{
    margin: 0;
    padding: 0;
}
:root{
    --font-01: Verdana, Geneva, Tahoma, sans-serif;
    --font-02:"Passion One", cursive;
    --font-03: "Sriracha", cursive;
}
@font-face {
    font-family: "Passion One";
    src: url('Passion_One/PassionOne-Regular.ttf');
}

@media screen and (max-width: 680px) {
    .container {
        width: 100%;
    }
    
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
    font-family:"Passion One"
}

header > p{
    padding-bottom: 50px;
    font-family: var(--font-01);
}


header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--font-03);
}
section.normal{
    background-color: white;
    color: black;
}

section#img1 {
    background-image: url('imagens/background001.jpg');
    background-position: right, center;
}
section#img2{
    background-image: url('imagens/background002.jpg');
    background-position: right, center;
}
section.imagem  p{
    display:inline-block;
    padding: 5px;
    background-color: rgba(0,0,0,0.514);
    text-shadow: 1px 1px 0px black;
}
section.imagem{
    background-color: rgba(51, 51, 51,);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}
